.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.swiper-slide:hover {
    transform: scale(1.1);
}

.highlight-on-hover {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.highlight-on-hover:hover {
    text-decoration: underline;
    background-image: linear-gradient(to top right, rgba(0, 0, 139, 0.3), rgba(128, 0, 128, 0.3));
    border-radius: 5px;
    box-shadow: 0 0 8px violet;
}

<style>
  .slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .image-box {
    flex: 0 0 auto; /* Prevents shrinking */
    width: 100%; /* Full width for the active item */
    scroll-snap-align: start; /* Aligns the item to the start of the container */
    margin-right: 20px; /* Space between items */
  }

  .my-text-container {
    padding: 15px;
    background-color: rgba(0, 0, 139, 0.8); /* Example background */
    border-radius: 10px; /* Rounded corners */
  }
</style>

