
    /* Stili generali */
    body {
        margin: 0;
        font-family: 'Palladio', serif;
        font-size: 21px;
        background-color: #f5f5f5;
        color: #333;
    }

    /* Stili per l'header principale */
    header {
        font-family: 'ArgosBoldItalic', sans-serif;
        font-size: 21px;
        color: black;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        border-bottom: 2px solid black;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        z-index: 1000;
    }

    header h1 {
        margin: 0;
    }

    /* Stili per i titoli delle sezioni */
    h2 {
        font-family: 'ArgosBoldItalic', sans-serif;
        font-size: 15px;
        color: black;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /* Stili per i paragrafi */
    p {
        font-family: 'Palladio', serif;
        font-size: 21px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    /* Stili per le liste */
    ul {
        font-family: 'Palladio', serif;
        font-size: 21px;
        line-height: 1.5;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    li {
        margin-bottom: 10px;
    }

    /* Stili per i blockquote */
    blockquote {
        font-family: 'Palladio', serif;
        font-size: 21px;
        line-height: 1.5;
        margin: 20px 0;
        padding: 10px 20px;
        background-color: #6ad7fef0;
        border-left: 5px solid #38acff;
    }

    /* Stili per il footer */
    footer {
        font-family: 'ArgosBoldItalic', sans-serif;
        font-size: 15px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: 2px solid black;
        z-index: 1000;
        margin-bottom: 3px;
    }

    footer a {
        color: black;
        text-decoration: none;
    }

    footer .cta-button {
        background-color: black;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Stili per i link nella lista */
    .link-list a {
        color: black;
        text-decoration: none;
        font-family: 'ArgosBoldItalic', sans-serif;
        font-size: 25px;
        margin: 0 8px;
    }

    .link-list a::after {
        content: '';
    }

    .link-list a:last-child::after {
        content: '';
    }

    /* Increase font size for first 5 elements and set font-family */
    h3 {
        font-family: 'Palladio', serif; /* Change to Palladio */
        font-size: 18px; /* Increase font size */
        color: #00bef8;

    }



    /* Remove footer */
    footer {
        display: none; /* Hide footer */
    }

    /* Remove bullet points and reduce padding */
    ul {
        padding-left: 0; /* Set lateral padding to 0 */
        margin-bottom: 5px; /* Reduce spacing */
    }

    /* Remove bullet points for specific list items */
    ul {
        list-style-type: none; /* Remove bullet points */
    }

    /* Reduce overall spacing between elements */
    h2, h3, p, ul {
        margin-top: 5px; /* Reduce vertical spacing */
        margin-bottom: 5px; /* Reduce vertical spacing */
    }
