

.my-text-container {
    display: flex; /* Enables Flexbox layout */
    flex-direction: column; /* Stacks child elements vertically */
    justify-content: space-between; /* Positions one child at the top and the other at the bottom */
    padding: 5px; /* Adds 5 pixels of space all around the content */
    max-width: 550px; /* Maximum width */
    height: 525px; /* Example fixed height; adjust as needed */
}

.image-box {
    background-size: cover;
    background-position: center;
    width: 80%; /* Adjust based on your preference */
    max-width: 575px; /* Maximum width */
    height: 400px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Floating effect */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to top right, rgba(0, 0, 139, 0.8), rgba(128, 0, 128, 0.8)); /* Dark blue to purple gradient with opacity */
}

#content-area div div:first-child {
    font-weight: bold; /* Rende il testo del titolo grassetto */
}

#content-area div div:last-child {
    font-size: 0.9em; /* Riduce leggermente la dimensione del font per i topics */
    color: #555; /* Colore del testo per i topics */
}

.highlight-on-hover {
    transition: background-color 0.5s ease, box-shadow 0.5s ease; /* Smooth transition for background and box-shadow */
    cursor: pointer; /* Optional: changes the cursor to a pointer to indicate it's clickable or interactive */
    display: inline-block; /* Allows the div to size according to its content */
    margin-bottom: 10px; /* Your existing style */
}

.highlight-on-hover:hover {
    text-decoration: underline; /* Underlines text on hover */
    background-image: linear-gradient(135deg, violet 0%, transparent 50%, violet 100%); /* Gradient with violet corners */
    border-radius: 5px; /* Rounds the corners */
    box-shadow: 0 0 8px violet; /* Adds a subtle glow effect */
}

/* This media query applies styles for screens that are 600px wide or less */
@media (max-width: 600px) {
    #installButton {
        width: 60%; /* Width on small screens */
    }
}

.button-parla-futuro {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, rgba(148, 87, 235, 0.5), rgba(87, 87, 235, 0.5));
  border: 1px solid #8a8a8a;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 10px;
}

.button-parla-futuro:hover {
  background: linear-gradient(to top right, rgba(148, 87, 235, 0.7), rgba(87, 87, 235, 0.7));
}

.button-parla-futuro-verde-acqua {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, rgba(0, 255, 255, 0.5), rgba(0, 128, 0, 0.5)); /* Verde Acqua verso Verde Scuro */
  border: 1px solid #8a8a8a;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 10px;
}

.button-parla-futuro-verde-acqua:hover {
  background: linear-gradient(to top right, rgba(0, 255, 255, 0.7), rgba(0, 128, 0, 0.7)); /* Verde Acqua verso Verde Scuro (hover) */
}
#overlay-ff {
    position: fixed; /* Position the overlay-ff fixed full screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* High z-index to make it on top */
    display: flex; /* To center the post container */
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease; /* Transition for the fade effect */
}

/* Close button styles */
#close-overlay-ff {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    color: white;
}



.button-parla-futuro-clima {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, green, darkgreen);
  border: 1px solid #8a8a8a;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 10px;
}

.button-parla-futuro-clima:hover {
  background: linear-gradient(to right, green, darkgreen);
}


.hidden-text {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
}



/* Sfumatura da arancione a rosso */
.button-parla-futuro-blu-bluscuro {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #007BFF, #0000FF); /* Sfumatura da blu a blu scuro */
  border: 1px solid #8a8a8a;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 10px;
}

.button-parla-futuro-blu-bluscuro {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  background: linear-gradient(to right, #007BFF, #0000FF);
  color: white;
  transition: opacity 0.3s ease;
}

label {
  position: relative; /* Imposta il label come contenitore di riferimento per il posizionamento assoluto dello span */
  /* Altri stili preesistenti per il label */
}

/* Stili per lo span che conterrà il testo nascosto */
.hover-info {
  position: absolute; /* Posizionamento assoluto all'interno del label */
  top: 50%; /* Posiziona lo span subito sotto il label */
  left: 50%; /* Centrato orizzontalmente rispetto al label */
  transform: translateX(-50%); /* Sposta lo span indietro di metà della sua larghezza per centrarlo orizzontalmente */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  white-space: nowrap; /* Impedisci al testo di andare a capo */
}

/* Quando il label è in hover, mostra lo span e rimuovi la sfocatura */
label:hover .hover-info {
  visibility: visible;
  z-index:1000;
  opacity: 1;
  top: 90%; /* Posiziona lo span subito sotto il label */

  filter: blur(0);
}

/* Stile specifico per ogni categoria quando non è selezionata */
#csv-checkbox-criptovalute + .button-parla-futuro { background: linear-gradient(to right, #36d1dc, #5b86e5); }
#csv-checkbox-sport + .button-parla-futuro { background: linear-gradient(to right, #36d1dc, #5b86e5); }
#csv-checkbox-alimentazione + .button-parla-futuro { background: linear-gradient(to right, #36d1dc, #5b86e5); }
#csv-checkbox-intelligenza + .button-parla-futuro { background: linear-gradient(to right, #36d1dc, #5b86e5); }
#csv-checkbox-salute + .button-parla-futuro { background: linear-gradient(to right, #36d1dc, #5b86e5); }
#csv-checkbox-wellbeing + .button-parla-futuro { background: linear-gradient(to right, #36d1dc, #5b86e5); }
#csv-checkbox-art + .button-parla-futuro { background: linear-gradient(to right, #36d1dc, #5b86e5); }
#csv-checkbox-metaverse + .button-parla-futuro { background: linear-gradient(to right, #36d1dc, #5b86e5); }
#csv-checkbox-mobility + .button-parla-futuro { background: linear-gradient(to right, #36d1dc, #5b86e5); }
#csv-checkbox-society + .button-parla-futuro { background: linear-gradient(to right, #36d1dc, #5b86e5); }

/* Stile quando il checkbox è selezionato: riduzione dell'opacità */
/* Stile quando il checkbox è selezionato: riduzione dell'opacità per le nuove categorie */
#csv-checkbox-uomo:checked + .button-parla-futuro-verde-acqua,
#csv-checkbox-clima:checked + .button-parla-futuro-clima,
#csv-checkbox-tecnologia:checked + .button-parla-futuro,
#csv-checkbox-uomo:checked + .button-parla-futuro-verde-acqua {
  opacity: 0.5;
  border: 1px solid black; /* Questa linea aggiunge il contorno nero */

}

#csv-checkbox-criptovalute:checked + .button-parla-futuro,
#csv-checkbox-sport:checked + .button-parla-futuro,
#csv-checkbox-libri:checked + .button-parla-futuro-verde-acqua,
#csv-checkbox-podcast:checked + .button-parla-futuro-verde-acqua,
#csv-checkbox-alimentazione:checked + .button-parla-futuro,
#csv-checkbox-intelligenza:checked + .button-parla-futuro,
#csv-checkbox-salute:checked + .button-parla-futuro,
#csv-checkbox-podcast:checked + .button-parla-futuro,
#csv-checkbox-futuro:checked + .button-parla-futuro,
#csv-checkbox-mobility:checked + .button-parla-futuro,
#csv-checkbox-society:checked + .button-parla-futuro,
#csv-checkbox-metaverse:checked + .button-parla-futuro,
#csv-checkbox-art:checked + .button-parla-futuro,
#csv-checkbox-wellbeing:checked + .button-parla-futuro {
  opacity: 0.5;
  border: 1px solid black; /* Questa linea aggiunge il contorno nero */
}

/* Stili specifici per categorie con background grigio leggero */
#csv-checkbox-libri + .button-parla-futuro,
#csv-checkbox-podcast + .button-parla-futuro-clima,
#csv-checkbox-futuro + .button-parla-futuro-verde-acqua {
  background-color: #f0f0f0; /* Grigio molto leggero */
  color: black; /* Cambia il colore del testo per garantire leggibilità */
  border: 1px solid #ddd; /* Bordo leggermente più scuro per definizione */
}

/* Modifica l'opacità per l'effetto selezionato */
#csv-checkbox-libri:checked + .button-parla-futuro,
#csv-checkbox-podcast:checked + .button-parla-futuro-clima,
#csv-checkbox-futuro:checked + .button-parla-futuro-verde-acqua {
  opacity: 0.6;
}

/* Stile per hover per aggiungere interattività */
#csv-checkbox-libri + .button-parla-futuro:hover,
#csv-checkbox-podcast + .button-parla-futuro-clima:hover,
#csv-checkbox-futuro + .button-parla-futuro-verde-acqua:hover {
  background-color: #e6e6e6; /* Un grigio leggermente più scuro per l'hover */
}

/* Tecnologia con sfondo grigio sfumato */
#csv-checkbox-tecnologia + .button-parla-futuro {
  background: linear-gradient(to right, #bdc3c7, #2c3e50); /* Grigio sfumato */
  color: white; /* Per garantire la leggibilità del testo */
}

/* Uomo con sfondo rosso sfumato */
#csv-checkbox-uomo + .button-parla-futuro-verde-acqua {
  background: linear-gradient(to right, #e52d27, #b31217); /* Rosso sfumato */
  color: white; /* Per garantire la leggibilità del testo */
}

/* Effetto hover per Tecnologia e Uomo */
#csv-checkbox-tecnologia + .button-parla-futuro:hover {
  background: linear-gradient(to right, #a4b0be, #34495e); /* Grigio più scuro per hover */
}

#csv-checkbox-uomo + .button-parla-futuro-verde-acqua:hover {
  background: linear-gradient(to right, #c0392b, #8e44ad); /* Rosso più scuro per hover */
}

/* Effetto hover per aggiungere interattività */
.button-parla-futuro:hover {
  opacity: 0.8;
}

.button-parla-futuro-arancione-rosso:hover {
  background: linear-gradient(to top right, rgba(255, 165, 0, 0.7), rgba(255, 0, 0, 0.7)); /* Arancione verso Rosso (hover) */
}


/* Sfumatura da arancione a rosso */
.button-parla-futuro-arancione-rosso {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, rgba(255, 165, 0, 0.5), rgba(255, 0, 0, 0.5)); /* Arancione verso Rosso */
  border: 1px solid #8a8a8a;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 10px;
}

.button-parla-futuro-arancione-rosso:hover {
  background: linear-gradient(to top right, rgba(255, 165, 0, 0.7), rgba(255, 0, 0, 0.7)); /* Arancione verso Rosso (hover) */
}

/* Wrapper per bottoni affiancati */
.bottoni-affiancati {
  display: flex;
  justify-content: space-around; /* o center, se preferisci */
  align-items: center;
}


#csv-container {
  max-height: 600px;
  overflow-y: auto;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#csv-search-input {
  margin: 20px;
  padding: 10px;
  width: calc(100% - 40px); /* Adjust based on container padding */
  box-sizing: border-box;
}

#csv-table {
  width: 100%;
  border-collapse: collapse;
}

#csv-table th, #csv-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#csv-table tr:hover {
  background-color: #f5f5f5;
}


.notion-article-container {
  max-height: 600px; /* Adjust based on your needs */
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 20px; /* Optional: for internal spacing */
  border: 1px solid #ccc; /* Optional: for styling */
  margin: 20px; /* Optional: for external spacing */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: for styling */
}

.icons-container {
  position: fixed;
  bottom: 80px; /* Posiziona le icone in basso */
  right: 20px; /* Adegua questa distanza per posizionarle sul lato destro */
  transform: translateX(0%); /* Nessuna trasformazione necessaria ora */
  display: flex;
  flex-direction: column; /* Imposta le icone in linea verticale */
  align-items: center;
  transition: opacity 0.35s ease;
  opacity: 1;
}

.icon {
  background-color: white; /* Sfondo bianco per il cerchio */
  border: 2px solid black; /* Aggiunge un bordo nero */
  border-radius: 50%; /* Rende lo sfondo circolare */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px; /* Dimensione del cerchio */
  height: 45px; /* Dimensione del cerchio */
  margin: 10px 0; /* Distanza tra le icone (ora solo verticale) */
  font-size: 25px; /* Dimensione degli emoji */
  cursor: pointer;
}

.icon img {
  max-width: 45%; /* Assicura che l'immagine si adatti al cerchio */
  max-height: 45%; /* Assicura che l'immagine si adatti al cerchio */
}


  h3::before {
  content: "";
  display: block;
  height: 85px; /* Altezza dell'header */
  margin: -85px 0 0; /* Negativo dell'altezza dell'header */
}



.link-btn {
  font-family: palladio;
  border-radius: 10px;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.clima { background-color: rgba(102, 187, 106, 0.7); }
.clima:hover { background-color: rgba(102, 187, 106, 0.9); }

.hamburger { background-color: rgba(239, 154, 154, 0.7); }
.hamburger:hover { background-color: rgba(239, 154, 154, 0.9); }

.tempo { background-color: rgba(255, 183, 77, 0.7); }
.tempo:hover { background-color: rgba(255, 183, 77, 0.9); }

.numeri { background-color: rgba(100, 181, 246, 0.7); }
.numeri:hover { background-color: rgba(100, 181, 246, 0.9); }

.transizione { background-color: rgba(129, 199, 132, 0.7); }
.transizione:hover { background-color: rgba(129, 199, 132, 0.9); }

.sole { background-color: rgba(255, 235, 59, 0.7); }
.sole:hover { background-color: rgba(255, 235, 59, 0.9); }

.felice { background-color: rgba(77, 182, 172, 0.7); }
.felice:hover { background-color: rgba(77, 182, 172, 0.9); }

.banana { background-color: rgba(255, 213, 79, 0.7); }
.banana:hover { background-color: rgba(255, 213, 79, 0.9); }

.condizionatore { background-color: rgba(179, 229, 252, 0.7); }
.condizionatore:hover { background-color: rgba(179, 229, 252, 0.9); }

.religione { background-color: rgba(144, 202, 249, 0.7); }
.religione:hover { background-color: rgba(144, 202, 249, 0.9); }

.elementale { background-color: rgba(188, 170, 164, 0.7); }
.elementale:hover { background-color: rgba(188, 170, 164, 0.9); }

.vesti { background-color: rgba(255, 171, 145, 0.7); }
.vesti:hover { background-color: rgba(255, 171, 145, 0.9); }

.piante { background-color: rgba(165, 214, 167, 0.7); }
.piante:hover { background-color: rgba(165, 214, 167, 0.9); }

.fattoria { background-color: rgba(255, 224, 130, 0.7); }
.fattoria:hover { background-color: rgba(255, 224, 130, 0.9); }

.greta { background-color: rgba(129, 199, 132, 0.7); }
.greta:hover { background-color: rgba(129, 199, 132, 0.9); }


.__variable_a64ecd {
  border-bottom: 2px solid black !important; /* Usa !important per sovrascrivere altri stili specifici o condizionali */
}


.react-flow__container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.react-flow__pane {
  z-index: 1;
  cursor: grab;
}
.react-flow__pane.selection {
    cursor: pointer;
  }
.react-flow__pane.dragging {
    cursor: grabbing;
  }
.react-flow__viewport {
  transform-origin: 0 0;
  z-index: 2;
  pointer-events: none;
}
.react-flow__renderer {
  z-index: 4;
}
.react-flow__selection {
  z-index: 6;
}
.react-flow__nodesselection-rect:focus,
.react-flow__nodesselection-rect.focus-visible {
  outline: none;
}
.react-flow__nodesselection-rect:focus,
.react-flow__nodesselection-rect:focus-visible {
  outline: none;
}
.react-flow .react-flow__edges {
  pointer-events: none;
  overflow: visible;
}
.react-flow__edge-path,
.react-flow__connection-path {
  stroke: #b1b1b7;
  stroke-width: 1;
  fill: none;
}
.react-flow__edge {
  pointer-events: visibleStroke;
  cursor: pointer;
}
.react-flow__edge.animated path {
    stroke-dasharray: 5;
    animation: dashdraw 0.5s linear infinite;
  }
.react-flow__edge.animated path.react-flow__edge-interaction {
    stroke-dasharray: none;
    animation: none;
  }
.react-flow__edge.inactive {
    pointer-events: none;
  }
.react-flow__edge.selected,
  .react-flow__edge:focus,
  .react-flow__edge.focus-visible {
    outline: none;
  }
.react-flow__edge.selected,
  .react-flow__edge:focus,
  .react-flow__edge:focus-visible {
    outline: none;
  }
.react-flow__edge.selected .react-flow__edge-path,
  .react-flow__edge:focus .react-flow__edge-path,
  .react-flow__edge.focus-visible .react-flow__edge-path {
    stroke: #555;
  }
.react-flow__edge.selected .react-flow__edge-path,
  .react-flow__edge:focus .react-flow__edge-path,
  .react-flow__edge:focus-visible .react-flow__edge-path {
    stroke: #555;
  }
.react-flow__edge-textwrapper {
    pointer-events: all;
  }
.react-flow__edge-textbg {
    fill: white;
  }
.react-flow__edge .react-flow__edge-text {
    pointer-events: none;
    -webkit-user-select: none;
            user-select: none;
  }
.react-flow__connection {
  pointer-events: none;
}
.react-flow__connection .animated {
    stroke-dasharray: 5;
    animation: dashdraw 0.5s linear infinite;
  }
.react-flow__connectionline {
  z-index: 1001;
}
.react-flow__nodes {
  pointer-events: none;
  transform-origin: 0 0;
}
.react-flow__node {
  position: absolute;
  -webkit-user-select: none;
          user-select: none;
  pointer-events: all;
  transform-origin: 0 0;
  box-sizing: border-box;
  cursor: grab;
}
.react-flow__node.dragging {
    cursor: grabbing;
  }
.react-flow__nodesselection {
  z-index: 3;
  transform-origin: left top;
  pointer-events: none;
}
.react-flow__nodesselection-rect {
    position: absolute;
    pointer-events: all;
    cursor: grab;
  }
.react-flow__handle {
  position: absolute;
  pointer-events: none;
  min-width: 5px;
  min-height: 5px;
  background-color: #333;
}
.react-flow__handle.connectionindicator {
    pointer-events: all;
    cursor: crosshair;
  }
.react-flow__handle-bottom {
    top: auto;
    left: 50%;
    bottom: -4px;
    transform: translate(-50%, 0);
  }
.react-flow__handle-top {
    left: 50%;
    top: -4px;
    transform: translate(-50%, 0);
  }
.react-flow__handle-left {
    top: 50%;
    left: -4px;
    transform: translate(0, -50%);
  }
.react-flow__handle-right {
    right: -4px;
    top: 50%;
    transform: translate(0, -50%);
  }
.react-flow__edgeupdater {
  cursor: move;
  pointer-events: all;
}
.react-flow__panel {
  position: absolute;
  z-index: 5;
  margin: 15px;
}
.react-flow__panel.top {
    top: 0;
  }
.react-flow__panel.bottom {
    bottom: 0;
  }
.react-flow__panel.left {
    left: 0;
  }
.react-flow__panel.right {
    right: 0;
  }
.react-flow__panel.center {
    left: 50%;
    transform: translateX(-50%);
  }
.react-flow__attribution {
  font-size: 10px;
  background: rgba(255, 255, 255, 0.5);
  padding: 2px 3px;
  margin: 0;
}
.react-flow__attribution a {
    text-decoration: none;
    color: #999;
  }
@keyframes dashdraw {
  from {
    stroke-dashoffset: 10;
  }
}
.react-flow__edgelabel-renderer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
}
.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output,
.react-flow__node-group {
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
}
.react-flow__node-default.selected,
  .react-flow__node-default:focus,
  .react-flow__node-default.focus-visible,
  .react-flow__node-input.selected,
  .react-flow__node-input:focus,
  .react-flow__node-input.focus-visible,
  .react-flow__node-output.selected,
  .react-flow__node-output:focus,
  .react-flow__node-output.focus-visible,
  .react-flow__node-group.selected,
  .react-flow__node-group:focus,
  .react-flow__node-group.focus-visible {
    outline: none;
    border: 1px solid #555;
  }
.react-flow__node-default.selected,
  .react-flow__node-default:focus,
  .react-flow__node-default:focus-visible,
  .react-flow__node-input.selected,
  .react-flow__node-input:focus,
  .react-flow__node-input:focus-visible,
  .react-flow__node-output.selected,
  .react-flow__node-output:focus,
  .react-flow__node-output:focus-visible,
  .react-flow__node-group.selected,
  .react-flow__node-group:focus,
  .react-flow__node-group:focus-visible {
    outline: none;
    border: 1px solid #555;
  }
.react-flow__nodesselection-rect,
.react-flow__selection {
  background: rgba(150, 150, 180, 0.1);
  border: 1px dotted rgba(155, 155, 155, 0.8);
}
.react-flow__controls {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);
}
.react-flow__controls-button {
    border: none;
    background: #fefefe;
    border-bottom: 1px solid #eee;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    -webkit-user-select: none;
            user-select: none;
    padding: 5px;
  }
.react-flow__controls-button:hover {
      background: #f4f4f4;
    }
.react-flow__controls-button svg {
      width: 100%;
      max-width: 12px;
      max-height: 12px;
    }
.react-flow__controls-button:disabled {
      pointer-events: none;
    }
.react-flow__controls-button:disabled svg {
        fill-opacity: 0.4;
      }
.react-flow__minimap {
  background-color: #fff;
}
.react-flow__resize-control {
  position: absolute;
}
.react-flow__resize-control.left,
.react-flow__resize-control.right {
  cursor: ew-resize;
}
.react-flow__resize-control.top,
.react-flow__resize-control.bottom {
  cursor: ns-resize;
}
.react-flow__resize-control.top.left,
.react-flow__resize-control.bottom.right {
  cursor: nwse-resize;
}
.react-flow__resize-control.bottom.left,
.react-flow__resize-control.top.right {
  cursor: nesw-resize;
}
/* handle styles */
.react-flow__resize-control.handle {
  width: 4px;
  height: 4px;
  border: 1px solid #fff;
  border-radius: 1px;
  background-color: #3367d9;
  transform: translate(-50%, -50%);
}
.react-flow__resize-control.handle.left {
  left: 0;
  top: 50%;
}
.react-flow__resize-control.handle.right {
  left: 100%;
  top: 50%;
}
.react-flow__resize-control.handle.top {
  left: 50%;
  top: 0;
}
.react-flow__resize-control.handle.bottom {
  left: 50%;
  top: 100%;
}
.react-flow__resize-control.handle.top.left {
  left: 0;
}
.react-flow__resize-control.handle.bottom.left {
  left: 0;
}
.react-flow__resize-control.handle.top.right {
  left: 100%;
}
.react-flow__resize-control.handle.bottom.right {
  left: 100%;
}
/* line styles */
.react-flow__resize-control.line {
  border-color: #3367d9;
  border-width: 0;
  border-style: solid;
}
.react-flow__resize-control.line.left,
.react-flow__resize-control.line.right {
  width: 1px;
  transform: translate(-50%, 0);
  top: 0;
  height: 100%;
}
.react-flow__resize-control.line.left {
  left: 0;
  border-left-width: 1px;
}
.react-flow__resize-control.line.right {
  left: 100%;
  border-right-width: 1px;
}
.react-flow__resize-control.line.top,
.react-flow__resize-control.line.bottom {
  height: 1px;
  transform: translate(0, -50%);
  left: 0;
  width: 100%;
}
.react-flow__resize-control.line.top {
  top: 0;
  border-top-width: 1px;
}
.react-flow__resize-control.line.bottom {
  border-bottom-width: 1px;
  top: 100%;
}

html {
  scroll-behavior: smooth;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}


.icons-container {
  position: fixed;
  bottom: 80px; /* Posiziona le icone in basso */
  right: 20px; /* Adegua questa distanza per posizionarle sul lato destro */
  transform: translateX(0%); /* Nessuna trasformazione necessaria ora */
  display: flex;
  flex-direction: column; /* Imposta le icone in linea verticale */
  align-items: center;
  transition: opacity 0.35s ease;
  opacity: 1;
}

.icon {
  background-color: white; /* Sfondo bianco per il cerchio */
  border: 2px solid black; /* Aggiunge un bordo nero */
  border-radius: 50%; /* Rende lo sfondo circolare */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px; /* Dimensione del cerchio */
  height: 45px; /* Dimensione del cerchio */
  margin: 10px 0; /* Distanza tra le icone (ora solo verticale) */
  font-size: 25px; /* Dimensione degli emoji */
  cursor: pointer;
}


         @font-face {
           font-family: 'Palladio';
           src: url('./P052-Roman.otf') format('truetype');
           font-weight: normal; /* Impostato su normal per il font normale */
           font-style: normal; /* Impostato su normal per il font normale */
       }

       @font-face {
           font-family: 'Palladio-italics';
           src: url('./Palladio_Italic.ttf') format('truetype');
           font-weight: normal; /* Mantieni normal se il corsivo non è più spesso */
           font-style: normal; /* Impostato su italic per il font corsivo */
       }

       .custom-font {
           font-family: 'Palladio', sans-serif;
       }
       .custom-font {
           font-family: 'Palladio-italics', sans-serif;
       }

         @font-face{font-family:Valkyrie B;src:url(/_next/static/media/Valkyrie-B-Bold.f9b252b1.woff2) format("woff2");font-weight:700;font-style:normal}@font-face{font-family:Valkyrie B;src:url(/_next/static/media/Valkyrie-B-Bold-Italic.01667e37.woff2) format("woff2");font-weight:700;font-style:italic}.first\:rounded-t-xl:first-child{border-top-left-radius:.75rem;border-top-right-radius:.75rem}.last\:mb-0:last-child{margin-bottom:0}.last\:rounded-b-xl:last-child{border-bottom-right-radius:.75rem;border-bottom-left-radius:.75rem}.last\:border-none:last-child{border-style:none}.last\:pb-0:last-child{padding-bottom:0}.last\:pb-16:last-child{padding-bottom:4rem}.focus-within\:border-gray-200:focus-within{--tw-border-opacity:1;border-color:rgb(229 231 235/var(--tw-border-opacity))}.hover\:cursor-pointer:hover{cursor:pointer}.hover\:border-black:hover{--tw-border-opacity:1;border-color:rgb(0 0 0/var(--tw-border-opacity))}.hover\:border-gray-200:hover{--tw-border-opacity:1;border-color:rgb(229 231 235/var(--tw-border-opacity))}.hover\:border-gray-400:hover{--tw-border-opacity:1;border-color:rgb(156 163 175/var(--tw-border-opacity))}.hover\:bg-gray-100:hover{--tw-bg-opacity:1;background-color:rgb(243 244 246/var(--tw-bg-opacity))}.hover\:bg-gray-50:hover{--tw-bg-opacity:1;background-color:rgb(249 250 251/var(--tw-bg-opacity))}.hover\:bg-gray-800:hover{--tw-bg-opacity:1;background-color:rgb(31 41 55/var(--tw-bg-opacity))}.hover\:bg-gray-900:hover{--tw-bg-opacity:1;background-color:rgb(17 24 39/var(--tw-bg-opacity))}.hover\:text-black:hover{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity))}.hover\:text-white:hover{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.hover\:opacity-70:hover{opacity:.7}.hover\:shadow-xl:hover{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.hover\:drop-shadow-sm:hover{--tw-drop-shadow:drop-shadow(0 1px 1px rgba(0,0,0,.05));filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.focus\:outline-none:focus{outline:2px solid transparent;outline-offset:2px}.active\:bg-gray-100:active{--tw-bg-opacity:1;background-color:rgb(243 244 246/var(--tw-bg-opacity))}.active\:opacity-50:active{opacity:.5}@media (prefers-reduced-motion:no-preference){@keyframes fadeIn{0%{opacity:0}to{opacity:1}}.motion-safe\:animate-fadeIn{animation:fadeIn .3s ease-in-out forwards}@keyframes fadeOut{0%{opacity:1}to{opacity:0}}.motion-safe\:animate-fadeOut{animation:fadeOut .3s ease-in-out forwards}}@media (min-width:640px){.sm\:fixed{position:fixed}.sm\:m-5{margin:1.25rem}.sm\:mx-0{margin-left:0;margin-right:0}.sm\:my-0{margin-top:0;margin-bottom:0}.sm\:my-6{margin-top:1.5rem;margin-bottom:1.5rem}.sm\:mb-10{margin-bottom:2.5rem}.sm\:mb-12{margin-bottom:3rem}.sm\:ml-2{margin-left:.5rem}.sm\:ml-\[90px\]{margin-left:90px}.sm\:mt-0{margin-top:0}.sm\:mt-4{margin-top:1rem}.sm\:box-content{box-sizing:content-box}.sm\:inline{display:inline}.sm\:flex{display:flex}.sm\:hidden{display:none}.sm\:h-\[70px\]{height:70px}.sm\:h-auto{height:auto}.sm\:w-\[1100px\]{width:1100px}.sm\:w-\[287px\]{width:287px}.sm\:w-auto{width:auto}.sm\:w-full{width:100%}.sm\:min-w-\[744px\]{min-width:744px}.sm\:max-w-\[1100px\]{max-width:1100px}.sm\:max-w-\[330px\]{max-width:330px}.sm\:max-w-\[910px\]{max-width:910px}.sm\:flex-grow-0{flex-grow:0}.sm\:flex-row{flex-direction:row}.sm\:gap-6{gap:1.5rem}.sm\:p-0{padding:0}.sm\:p-8{padding:2rem}.sm\:px-0{padding-left:0;padding-right:0}.sm\:px-2{padding-left:.5rem;padding-right:.5rem}.sm\:px-44{padding-left:11rem;padding-right:11rem}.sm\:px-6{padding-left:1.5rem;padding-right:1.5rem}.sm\:px-8{padding-left:2rem;padding-right:2rem}.sm\:py-2{padding-top:.5rem;padding-bottom:.5rem}.sm\:py-2\.5{padding-top:.625rem;padding-bottom:.625rem}.sm\:pl-\[250px\]{padding-left:250px}.sm\:pr-\[10px\]{padding-right:10px}.sm\:pt-16{padding-top:4rem}.sm\:pt-4{padding-top:1rem}.sm\:pt-6{padding-top:1.5rem}.sm\:text-3xl{font-size:1.875rem;line-height:2.25rem}.sm\:text-4xl{font-size:2.25rem;line-height:2.5rem}.sm\:text-5xl{font-size:3rem;line-height:1}.sm\:text-\[16px\]{font-size:16px}.sm\:text-lg{font-size:1.125rem;line-height:1.75rem}.sm\:text-xl{font-size:1.25rem;line-height:1.75rem}}@media (min-width:768px){.md\:right-\[14px\]{right:14px}.md\:mr-0{margin-right:0}.md\:mt-0{margin-top:0}.md\:mt-10{margin-top:2.5rem}.md\:block{display:block}.md\:flex{display:flex}.md\:hidden{display:none}.md\:w-\[16px\]{width:16px}.md\:w-\[690px\]{width:690px}.md\:items-center{align-items:center}.md\:border-b{border-bottom-width:1px}.md\:px-0{padding-left:0;padding-right:0}.md\:py-4{padding-top:1rem;padding-bottom:1rem}.md\:pt-12{padding-top:3rem}.md\:pt-16{padding-top:4rem}.md\:pt-3{padding-top:.75rem}.md\:text-custom-34{font-size:34px}.md\:text-custom-43{font-size:43px}.md\:text-custom-64{font-size:64px}.md\:text-lg{font-size:1.125rem;line-height:1.75rem}.md\:leading-relaxed{line-height:1.625}.md\:leading-tight{line-height:1.25}}@media (min-width:1024px){.lg\:block{display:block}.lg\:hidden{display:none}.lg\:px-24{padding-left:6rem;padding-right:6rem}.lg\:px-4{padding-left:1rem;padding-right:1rem}}
