#installButtonContainer {
    /* Ensure the container can scale with its content but you can set specific sizes if you prefer */
    width: 70%; /* This makes the div adjust to the width of its parent */
    padding-top: 20px; /* Padding at the bottom of the div */

    padding-bottom: 20px; /* Padding at the bottom of the div */
    display: flex; /* This enables you to easily center the image if needed */
    justify-content: center; /* Centers the image horizontally if desired */
}

#installButton {
    width: 80%; /* Makes the image 70% of the width of its container */
    /* The cursor and alt attributes remain inline in your HTML */
}
